body{
    background-color: lightslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    

}

button{
    border-radius: 50%;
    border-width: 10px;
    border-style: double;
    font-size: 40px;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
